<div>
	<div class="nav">
		<ul class="nav nav-tabs">
			<li><%= link_to "Home", home_path %></li>
			<li><%= link_to "Academics", academics_path %></li>
			<li><%= link_to "Activities", activities_path %></li>
			<li><%= link_to "Policies", policies_path %></li>
			<li><%= link_to "Events", events_path %></li>
			<li><%= link_to "ContactUs", contactus_path %></li>
			<li><%= admin_link %></li>	
			<li><%= login_or_logout_link %></li>
		</ul>
	</div>
</div>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

 