<div>
	<div class="nav">
		<ul class="nav nav-tabs">
			<li><%= link_to "Home", home_path %></li>
			<li><%= link_to "Academics", academics_path %></li>
			<li><%= link_to "Activities", activities_path %></li>
			<li><%= link_to "Policies", policies_path %></li>
			<li><%= link_to "Events", events_path %></li>
			<li><%= link_to "ContactUs", contactus_path %></li>
		</ul>
	</div>
</div>

 